<html>
<head>
<style>
body
{
background-color: #000000;
color: white;
}
</style>
</head>
<body>
<div style="margin-top:200px"><h1>Congratulations ! You're message has been sent  :)</h1>

</div>
</body>
</html>
